<head>
<script
src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async>
</script>
</head>
<form method='post' action=''>{% csrf_token %}
    <h2>Nutrient Waste Recycling Model</h2>
    <p>The nutrient waste recycling model computes anaerobic digestion (AD) nutrient output from user feedstock and manure inputs.</p> 

    <!--<p>Enter a celsius value to convert to fahrenheit: {{ form.cel_input }}-->
    <p><em>Phosphorus Output</em></p>
    <p>Enter input values below for computing AD phosphorus (kg) output.<p>
    <table>
	<tr><td> {{form.blood}} </td><td>Blood (gallons)</td></tr>
	<tr><td> {{form.fish_by}} </td><td>Fish Byproduct (gallons)</td></tr>
	<tr><td> {{form.paper_pulp}} </td><td>Paper Pulp (gallons)</td></tr>
    <tr><td> {{form.ob}} </td><td>Out-of-Date Beverages (gallons)</td></tr>
    <tr><td> {{form.gt}} </td><td>Grease Trap Waste (gallons)</td></tr>
    <tr><td> {{form.manure}} </td><td>Manure (gallons)</td></tr>
 	<tr><td></td></tr>
    </table>
    <input type='submit' value='Calculate' /></p>
</form>

