<form method='post' action=''>{% csrf_token %}
    <h2>Nutrient Waste Recycling Model</h2>

    <p><em>This is a test version for a input-oriented, computational web application</em></p>

    <!--<p>Enter a celsius value to convert to fahrenheit: {{ form.cel_input }}-->
    <p>Enter in values below for computing a Gamma<div lang='latex'>(x, $\theta$, $k$)</div> density<p>
    <table>
	<tr><td> {{ form.x }} </td></tr>
	<tr><td> {{ form.theta }} </td></tr>
	<tr><td> {{ form.k }} </td></tr>
 	<tr><td></td></tr>
    </table>
    <input type='submit' value='Calculate' /></p>
</form>
